:root{
    --primary-color: #3b3b71;
    --page-background: #f0f1ff;
    --completed-color: #9595b2;
    --container-shadow: #d6d7ec65;
    --container-background: #ffffff;

}

*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

#background-container{
    min-height: 100vh;
    background-color: var(--page-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container{
    background-color: var(--container-background);
    display: flex;
    flex-direction: column;
    height: 35em;
    width: 20em;
    border-radius: 25px;
    box-shadow: 25px 0px 3px -10px var(--container-shadow),
                 -5px 5px 5px  var(--container-shadow);
}

#title-div{
    margin: 1.5em 1em 0 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title-div > h3 {
    color: var(--primary-color);
    font-size: 1.5em;
    font-weight: 700;
}

#title-div > button {
    background-color: var(--container-background);
    color: var(--completed-color);
    border: none;
    align-self: center;
    font-size: 1.25em;
    font-weight: 1000;
    letter-spacing: 3px;
    padding-bottom: 10px;
    width: 2em;
}

#plus-button:hover,
.fake-checkbox:hover,
#underline:hover,
#title-div > button:hover {
    cursor: pointer;
}

#shared{
    margin: 0 0em 1em 2.2em;
    color: var(--completed-color);
    font-size: .7em;
}

#underline{
    text-decoration: underline;
}

#completed-list,
#unchecked-list{
    list-style: none;   
    margin-left: 1.5em;
}

#completed-list > li,
#unchecked-list > li{
    display: flex;
    align-items: center;
    margin: 1em 0;
    gap: .35em;
}

.fake-checkbox {
    border: 1px solid var(--primary-color);
    text-align: center;
    color: var(--completed-color);
    aspect-ratio: 1;
    height: 1.5em;
    border-radius: 50%;
}

.list-item{
    color: var(--primary-color);
    font-weight: 700;
    font-size: .85em;
    margin-top: 2px;
}

#completed-span {
    color: var(--primary-color);
    font-size: .7em;
    font-weight: 600;
    margin: 2em 0 0 2.25em;
}

#completed-list :is(span,div){
    color: var(--completed-color);
}

#completed-list :is(div){
    border: 1px solid var(--completed-color);
}

#plus-button{
    align-self: flex-end;
    width: 1.75em;
    border-radius: 12px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--container-background);
    font-size: 2.5em;
    margin-right: 1em;
    margin-top: 1em;
}

#plus-button:hover{
    transform: scale(1.1);
}

#plus-button:active{
    transform: scale(.9);
}